<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>302086772846-574o9ksh6huh3694u8l1mpv8qndrb2rr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.302086772846-574o9ksh6huh3694u8l1mpv8qndrb2rr</string>
	<key>API_KEY</key>
	<string>AIzaSyDj57z8C-YOVLcO5Wv-dwX5EkMQgeedwps</string>
	<key>GCM_SENDER_ID</key>
	<string>302086772846</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneandwon.mindmate</string>
	<key>PROJECT_ID</key>
	<string>mindmate-2025</string>
	<key>STORAGE_BUCKET</key>
	<string>mindmate-2025.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302086772846:ios:392c8061e1de139a466e7f</string>
</dict>
</plist>