<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>732886401439-ed9cfovposiu6adqmh2vv5bht29p53rl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.732886401439-ed9cfovposiu6adqmh2vv5bht29p53rl</string>
	<key>API_KEY</key>
	<string>AIzaSyCKZev4ZVAd37FpfryyMM1KXKd2K_sfhR8</string>
	<key>GCM_SENDER_ID</key>
	<string>732886401439</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.oneandwon.mindmate</string>
	<key>PROJECT_ID</key>
	<string>mindmate-9c2e1</string>
	<key>STORAGE_BUCKET</key>
	<string>mindmate-9c2e1.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:732886401439:ios:e3acb2f9e57b23ec8b3daa</string>
</dict>
</plist>